.contact {
    background-image: url(../../images/contact1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 0;
    padding: 50px 0;
    /* background-attachment: fixed; */
}

/* .form {
    width: ;
} */